#welcome {
    -fx-background-radius: 20px;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#welcomeText {
    -fx-font-family: Barlow;
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: #e89e5f;
}

#searchButton {
    -fx-background-color: #fff3e9;
    -fx-background-radius: 50px;
    -fx-font-family: Barlow;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-cursor: text;
}

#BookLayout, ScrollPane, ScrollPane .viewport, ScrollPane .scroll-bar {
    -fx-background-color: transparent;
}

ListView {
    -fx-background-color: transparent;
}

.list-cell:odd {
    -fx-background-color: transparent;
}

.list-cell:even {
    -fx-background-color: transparent;
}

.list-cell:filled:selected:focused Label, .list-cell:filled:selected Label {
    -fx-text-fill: black;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    visibility: hidden;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color : #f4d2ba;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}


/*áº©n vertical scroll bar*/
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    visibility: hidden;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.corner {
    -fx-background-color: transparent;
}
