#container {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-position: center;
    -fx-position-shape: true;
}

#closeButton {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

#author {
    -fx-font-family: Barlow;
    -fx-font-size: 14;
    -fx-text-fill: #303030;
}

#title {
    -fx-font-family: "Barlow ExtraBold";
    -fx-font-size: 28;
    -fx-text-fill: #303030;
}

#SaveButton, #AddButton, #okButton, .ColorButton {
    -fx-background-color: #e89e5f;
    -fx-font-family: "Barlow ExtraBold";
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}

#CancelButton, .WhiteButton {
    -fx-background-color: #f4f4f4;
    -fx-border-radius: 10px;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 2px;
    -fx-font-family: "Barlow ExtraBold";
    -fx-text-fill: #6e6e6e;
    -fx-font-size: 16;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

TextField, PasswordField {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: "Barlow";
    -fx-font-size: 16;
}

.input {
    -fx-border-color: #c0c0c0;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}


.BorrowedButton {
    -fx-background-color: #d1ffd1;
    -fx-font-family: "Barlow ExtraBold";
    -fx-text-fill: green;
    -fx-font-size: 16;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: not-allowed;
}


.text-input:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}