#back {
    -fx-background-color: #e3e3e3;
    -fx-background-radius: 5px;
    -fx-font-family: Inter;
    -fx-font-size: 13;
    -fx-cursor: hand;
}

#SearchBar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #e3e3e3;
    -fx-prompt-text-fill: #a3a3a3;
}

#SearchText {
    -fx-background-color: transparent;
    -fx-font-family: "Barlow SemiBold";
    -fx-font-size: 20;
    -fx-text-fill: rgba(0, 0, 0, 0.7);
}

.text-input:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

ListView {
    -fx-background-color: transparent;
}

.list-cell:odd {
    -fx-background-color: transparent;
}

.list-cell:even {
    -fx-background-color: transparent;
}

.list-cell:filled:selected:focused Label, .list-cell:filled:selected Label {
    -fx-text-fill: black;
}



.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    visibility: hidden;
}

.scroll-bar:vertical .thumb {
    -fx-background-color : #f4d2ba;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}




/*áº©n horizontal scroll bar*/
.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    visibility: hidden;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}









