* {
    -default-font-family: 'Inter', sans-serif;
    -lighter-blue: #dcf1fd;
    -blue: #2c7ce7;
    -light-blue:#76cdff;
    -background-blue: #f6fbff;
}

#sidepane {
    -fx-background-color: -background-blue;
}

#ContentPane {
    -fx-background-color: white;
}

.MenuButton {
    -fx-font-family: -default-font-family;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-background-radius: 15px;
}

.MenuButtonPressed {
    -fx-background-color: -lighter-blue;
    -fx-font-family: -default-font-family;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-background-radius: 15px;
}


.MenuButton:hover {
    -fx-background-color: -lighter-blue;
    -fx-background-radius: 15px;

}

.MenuButton Label, .MenuButton:hover Label, .MenuButtonPressed Label {
    -fx-text-fill: -blue;
}

#userName {
    -fx-font-family: -default-font-family;
    -fx-font-size: 13;
}

#profileButton {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 5px;
    -fx-font-family: -default-font-family;
    -fx-font-size: 13;
    -fx-cursor: hand;
}

#profileButton Label {
    -fx-text-fill: -blue;
}

#profiletext {
    -fx-font-weight: bold;
}

#profileButton .VBox {
    -fx-background-color: white;
}

#SignOutButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: -default-font-family;
    -fx-font-size: 13;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 7px;
}
